<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="bg-green-50 py-16 min-h-screen">
      <div class="container m-auto space-y-8 px-6 md:px-12 lg:px-20">
        <div
          class="items-center justify-center gap-16 text-center md:flex md:flex-col md:text-left"
        >
          <div class="mb-6 space-y-6 md:mb-0 md:w-7/12 lg:w-6/12">
            <h1 class="text-4xl font-bold text-green-900 md:text-5xl">
              Success
            </h1>
            <p class="text-lg text-gray-600">Email sent successfully.</p>
          </div>
          <a
            href="/"
            class="bg-gray-600 text-gray-100 font-bold rounded-full px-4 py-3"
            >Go To Home</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
